vendor
.idea
composer.lock
.env.*
node_modules
package-lock.json
/public/build/css/styles.css
/public/build/js/components/header/filter/FilterPanelButton.js
/public/build/js/components/header/filter/FilterPanelButton.vue
/public/build/js/components/header/filter/FilterPanelContent.js
/public/build/js/components/header/filter/FilterPanelContent.vue
/public/build/js/components/header/ClearResultsButton.js
/public/build/js/components/header/ClearResultsButton.vue
/public/build/js/components/header/FilterPanel.js
/public/build/js/components/header/FilterPanel.vue
/public/build/js/components/header/HeaderTitle.js
/public/build/js/components/header/HeaderTitle.vue
/public/build/js/components/header/RunFailedButton.js
/public/build/js/components/header/RunFailedButton.vue
/public/build/js/components/header/RunStopAllButton.js
/public/build/js/components/header/RunStopAllButton.vue
/public/build/js/components/sidebar/TestItem.js
/public/build/js/components/sidebar/TestItem.vue
/public/build/js/components/sidebar/TestList.js
/public/build/js/components/sidebar/TestList.vue
/public/build/js/components/sidebar/TestSearchBar.js
/public/build/js/components/sidebar/TestSearchBar.vue
/public/build/js/components/sidebar/TestSuite.js
/public/build/js/components/sidebar/TestSuite.vue
/public/build/js/components/sidebar/TestSuiteHeader.js
/public/build/js/components/sidebar/TestSuiteHeader.vue
/public/build/js/components/CoverageReport.js
/public/build/js/components/CoverageReport.vue
/public/build/js/components/FileCoverageDetail.js
/public/build/js/components/FileCoverageDetail.vue
/public/build/js/components/GroupedTestResults.js
/public/build/js/components/GroupedTestResults.vue
/public/build/js/components/Header.js
/public/build/js/components/Header.vue
/public/build/js/components/IndividualTestResults.js
/public/build/js/components/IndividualTestResults.vue
/public/build/js/components/MainContent.js
/public/build/js/components/MainContent.vue
/public/build/js/components/ResultsSummary.js
/public/build/js/components/ResultsSummary.vue
/public/build/js/components/TabNavigation.js
/public/build/js/components/TabNavigation.vue
/public/build/js/components/TestDetails.js
/public/build/js/components/TestDetails.vue
/public/build/js/components/TestSidebar.js
/public/build/js/components/TestSidebar.vue
/public/build/js/tests/mocks/vue.js
/public/build/js/tests/.gitkeep
/public/build/js/tests/api.test.js
/public/build/js/tests/app.test.js
/public/build/js/tests/store.test.js
/public/build/js/tests/utils.test.js
/public/build/js/tests/websocket.test.js
/public/build/js/api.js
/public/build/js/app.js
/public/build/js/App.vue
/public/build/js/main.js
/public/build/js/store.js
/public/build/js/utils.js
/public/build/js/websocket.js
/public/build/index.html
/public/build/assets/favicon-failure.svg
/public/build/assets/favicon-neutral.svg
/public/build/assets/favicon-success.svg
