rector.php export-ignore
phpunit.xml.dist export-ignore
phpstan.neon export-ignore
docker-compose.yml export-ignore
composer.lock export-ignore
package-lock.json export-ignore
castor.php export-ignore
.phpunit.result.cache export-ignore
.php-cs-fixer.cache export-ignore
.php-cs-fixer.dist.php export-ignore
.env.local export-ignore
.env export-ignore
.castor.stub.php export-ignore
.dockerignore export-ignore
.docker export-ignore
.github export-ignore
node_modules export-ignore
public/js/tests export-ignore
tests export-ignore
vendor export-ignore