<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Command/ServeCommand.php</file>
            <file>src/PHPUnit/PhpUnitHubExtension.php</file>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="PhpUnitHub\PHPUnit\PhpUnitHubExtension"/>
    </extensions>

    <listeners>
        <listener class="PhpUnitHub\PHPUnit\PhpUnitHubExtension95" />
    </listeners>
</phpunit>
